*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


.header{
    width: 100%;
    height: 60px;
    
    background-color:rgb(29, 54, 146);
    /* background-image: url('../imagens/1url.png');
    background-size: contain;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left; */
}

.class img{ 
    /* background-color: red; */
    width: 100px;
    height: 60px;
    background-size: contain;
    float: left;
}

.header ul{
    list-style-type: none;
}

.header ul li a{
    margin-left: 20px;
    font-size: 18px;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    /* background-color: blueviolet; */
    margin-top: 20px;
    float: left;
}

.ro21 img{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    /* background-color: blue; */
}